* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.parent, .child_1, .child_2{
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.parent {
    width: 500px;
    height: 500px;
    background-color: rgb(145, 142, 113);
    padding-top: 20px;

}
.child_1 {
    width: calc(100% - 50px);
    min-height: 200px;
    background-color: rgb(196, 177, 31);

}
.child_2 {
    width: calc(100% - 150px);
    min-height: 220px;
    background-color: rgb(57, 92, 68);
    bottom: 50px;
}